

a
<button (click)="openForm()"   [title]="operation" type="button"
  [ngClass]="[iconos[operation],'rounded-full', 'bg-primary', 'p-2', 'text-primary', 'hover:text-blue-500', 'focus:outline-none', 'focus:ring-2', 'focus:ring-indigo-500', 'focus:ring-offset-2']" >
</button>
a



<div
  *ngIf="isVisible"

  class="fixed z-10 inset-0 overflow-y-auto flex bg-gray-600/[0.85] items-center justify-center"


  (click)="closeForm()"
>
  <div
    class="bg-background rounded-lg shadow-xl min-w-8/12 max-w-md  h-10/12 overflow-y-auto pl-6 pr-6 relative "    (click)="$event.stopPropagation()"
  >


{{formData}}

  </div>
</div>
