<div *ngIf="element && control" [ngSwitch]="element.type" class="w-full form-input-wrapper">
  <div *ngSwitchCase="'radio'">
    <app-radio-button-group
      [config]="element" [options]="element.options || []" [control]="controlAsFormControl"
    ></app-radio-button-group>
  </div>
  <div *ngSwitchCase="'text'">
    <app-text-input
      [config]="element" [control]="controlAsFormControl"
      [formGroup]="parentFormGroup"
    ></app-text-input>
  </div>

  <div *ngSwitchCase="'email'">
    <app-text-input
      [config]="element" [control]="controlAsFormControl"
      [formGroup]="parentFormGroup"
    ></app-text-input>
  </div>

  <div *ngSwitchCase="'number'">
    <app-text-input
      [config]="element" [control]="controlAsFormControl"
      [formGroup]="parentFormGroup"
    ></app-text-input>
  </div>

  <div *ngSwitchCase="'textarea'">
    <app-textarea-input
      [config]="element" [control]="controlAsFormControl"
    ></app-textarea-input>
  </div>

  <div *ngSwitchCase="'select'">
    <app-select-input
      [config]="element" [options]="element.options || []"
      [control]="controlAsFormControl"
    ></app-select-input>
  </div>

  <div *ngSwitchCase="'MultipleCheckbox'"> <app-multiple-checkbox
      [config]="element" [options]="element.options || []"
      [control]="controlAsFormControl" ></app-multiple-checkbox>
  </div>

  <div *ngSwitchCase="'checkbox'"> <app-checkbox-input
        [config]="element" [control]="controlAsFormControl"
    ></app-checkbox-input>
  </div>


  <div *ngSwitchCase="'toggle'">
      <app-toggle-switch
          [config]="element" [control]="controlAsFormControl"
      ></app-toggle-switch>
  </div>

  <div *ngSwitchCase="'range'">
      <app-range-slider
          [config]="element" [control]="controlAsFormControl"
      ></app-range-slider>
  </div>

  <div *ngSwitchCase="'color'">
      <app-color-picker
          [config]="element" [control]="controlAsFormControl"
      ></app-color-picker>
  </div>

  <div *ngSwitchCase="'date'">
      <app-date-input
          [config]="element" [control]="controlAsFormControl"
      ></app-date-input>
  </div>

  <div *ngSwitchCase="'image'"> <app-single-image-upload
          [config]="element" [control]="controlAsFormControl"
      ></app-single-image-upload>
  </div>

  <div *ngSwitchCase="'multipleFileDragGeneric'">
      <app-generic-file-upload
          [config]="element" [formArrayControl]="controlAsFormArray" ></app-generic-file-upload>
  </div>

  <div *ngSwitchCase="'multipleImageDrag'">
      <app-image-upload
          [config]="element" [formArrayControl]="controlAsFormArray" ></app-image-upload>
  </div>

  <div *ngSwitchCase="'label'">
    <label class="block text-sm font-bold text-gray-700 dark:text-gray-300 py-2">
      {{ element.label }}
    </label>
  </div>

  <div *ngSwitchCase="'separator'">
    <div class="relative flex items-center justify-center w-full my-4">
      <div class="border-b border-gray-300 dark:border-gray-600 w-full absolute top-1/2 transform -translate-y-1/2"></div>
      <span *ngIf="element.label" class="px-3 text-sm text-gray-500 dark:text-gray-400 relative bg-white dark:bg-gray-800 rounded-full">
        {{ element.label }}
      </span>
      <hr *ngIf="!element.label" class="w-full border-gray-300 dark:border-gray-600"/>
    </div>
  </div>


  <div *ngSwitchDefault>
    <p class="text-sm text-red-600 dark:text-red-400 p-2 bg-red-50 dark:bg-red-900_ rounded">
      Error: Tipo de input desconocido: **'{{ element.type }}'** para la clave **'{{ element.key }}'**.
    </p>
  </div>
</div>
