<button (click)="openForm()" [title]="operation" type="button"
  [ngClass]="[iconos[operation],'rounded-full', 'bg-primary', 'p-2', 'text-white', 'hover:bg-primaryhover', 'focus:outline-none', 'focus:ring-2', 'focus:ring-indigo-500', 'focus:ring-offset-2']" >
  </button>

<div
  *ngIf="isVisible"
  class="fixed inset-0 overflow-y-auto flex items-center justify-center
         bg-gray-600/80 dark:bg-black/70 z-50" (click)="closeForm()" >
  <div
    class="bg-white dark:bg-slate-800 rounded-lg shadow-xl
           w-11/12 md:w-8/12 lg:w-1/2 xl:max-w-2xl max-h-[90vh] overflow-y-auto py-1       relative" (click)="$event.stopPropagation()" >

    <app-admin-main-apiv1-form></app-admin-main-apiv1-form>
    <!--
    <app-dynamic-form-secondpage [formConfigInput]="formData"></app-dynamic-form-secondpage>
-->

  </div>
</div>

