

<app-table
[columns]="columns || []"
[single]="false"
[identifier]="'id'"
[data]="data"
(selectedItemsChange)="selectedItems = $event"
>

<ng-template let-row let-id="identifier">

  <div class=" flex space-x-3">

      <app-dynamic-form [operation]="'create'" [formConfigInput]="createFormConfig[0].fields "></app-dynamic-form>


    <app-dynamic-form [operation]="'edit'" [formConfigInput]="createFormConfig[0].fields "></app-dynamic-form>


    <app-dynamic-form [operation]="'delete'" [formConfigInput]="createFormConfig[0].fields "></app-dynamic-form>


</div>



  </ng-template>



</app-table>
